body{
    width: 100%;
    padding: 15px;
    margin: 20px;
    color: #ffff;
    background-color: cornflowerblue;
}

.menu{
    display: flex;
    gap: 10px;
}


footer{
    background-color: rgb(40, 54, 213);
    color: #ffffff;
}